.flex-row-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .ant-radio-group-solid :where(.css-dev-only-do-not-override-11mmrso).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
//   background-color:  #247f41;
//   border-color: #247f41;
// }
